<%- include("partials/header") -%> 
<main>
    <div class="left-content">
        <p class="title">About</p>
        <p class="text-content">Hello,
            I am Jean Damascene Uwingeneye, a full stack developer who enjoys learning and creating new digital
            tools experiences. I enjoy working on understanding and implementing human centered tools and products
            hence.</p>
        <p class="text-content">Technologies I use</p>
        <table class="text-content">
            <tr>
                <td>>Git</td>
                <td>>AWS</td>
            </tr>
            <tr>
                <td>>Javascript</td>
                <td>>Figma</td>
            </tr>
            <tr>
                <td>>HTML & CSS</td>
                <td>>Wordpress</td>
            </tr>
        </table>


    </div>
    </div>

    <div class="right-content">
        <img src="images/prof.png" alt="profile picture of Jean Damascene Uwingeneye" class="profile-pic">
    </div>
</main>
<%- include("partials/footer") -%>
