<%- include("partials/header") -%>
    <main>
        <div class="left-content">
            <p class="title">Hi My name is</p>
            <h1>Jean Damascene Uwingeneye</h1>
            <h1>-Fullstack developer</h1>
            <p class="text-content">Hi, my name is Jean Damascene Uwingeneye and I'm a Fullstack developer based in
                Kigali,
                Rwanda with over
                2 years of experience in the design and development industry. I'm specialized in Front and backend
                developement. You can check out my work below</p>
        </div>
        </div>

        <div class="right-content">
            <img src="images/prof.png" alt="profile picture of Jean Damascene Uwingeneye" class="profile-pic">
        </div>
    </main>
<%- include("partials/footer") -%>