<%- include("partials/header") -%>
<div style="margin: auto">
    <main>
        <div class="blogs-container">
            <div class="form-box">
                <h2 class="card-title"><%= message %></h2>
            </div>
        </div>
    </main>
</div>
<%- include("partials/footer") -%>
