<%- include("partials/header") -%>
<main>
    <div class="left-content">
        <p class="title">Featured Projects</p>
        <table class="text-content">
            <tr>
                <td><a href="https://arlicgroup.com/" target="_blank">>arlicgroup.com</a></td>
                <td><a href="https://glhi.org/" target="_blank">>glhi.org</a></td>
            </tr>
            <tr>
                <td><a href="https://disabilityplus.org/" target="_blank">>disabilityplus.org</a></td>
                <td><a href="https://kbl.rw/" target="_blank">>kbl.rw</a></td>
            </tr>
            <tr>
                <td><a href="https://karalogistics.rw/" target="_blank">>karalogistics.rw</a></td>
                <td><a href="https://sherwanda.org/" target="_blank">>sherwanda.org</a></td>
            </tr>

        </table>

    </div>
    </div>

    <div class="right-content">
        <img src="images/prof.png" alt="profile picture of Jean Damascene Uwingeneye" class="profile-pic">
    </div>
</main>
<%- include("partials/footer") -%>
